:root {
    --primary: #1a73e8;
    --secondary: #34a853;
    --accent: #fbbc05;
    --dark: #202124;
    --light: #f8f9fa;
    --gray: #dadce0;
    --transition: all 0.3s;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    --bg-color: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #3c4043;
    background-color: var(--bg-color);
    font-size: 14px;
    line-height: 1.5;
    transition: 0.5s;
}


img {
    max-width: 100%;
    max-height: 200px;
    border-radius: var(--border-radius);
}

a {
    text-decoration: none;
    color: var(--primary);
    transition: var(--transition);
}

a:hover {
    color: var(--secondary);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background: var(--primary);
    color: white;
    padding: 12px 24px;
    border-radius: var(--border-radius);
    font-weight: 600;
    transition: var(--transition);
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background: #0d62cb;
    transform: translateY(-2px);
    box-shadow: var(--shadow);
    color: white;
}


.btn-secondary:hover {
    background: #2d9247;
}

header {
    background-color: white;
    width: 100%;
    top: 0;
    transition: background-color 0.5s ease;
}

.theme-switchers {
    display: flex;
    gap: 5px;
    margin-left: 50px;

    .theme-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

}

.theme-btn.blue {
    background: linear-gradient(135deg, #1a73e8, #34a853);
}

.theme-btn.green {
    background: linear-gradient(135deg, #34a853, #fbbc05);
}

.theme-btn.purple {
    background: linear-gradient(135deg, #6a0dad, #1a73e8);
}

.theme-btn.reset {
    background: linear-gradient(135deg, #fff, black);
}

section {
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;

    & h1 {
        font-size: 3rem
    }

    & p {
        font-size: 1.3rem;
        max-width: 800px;
        margin: 0 auto 2rem;
    }
}
